* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#nav {
    display: flex;
    width: 96%;
    padding: 10px 2%;
}

#logo {
    width: max-content;
}

#menu {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    margin-right: 20px;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 1s ease-in-out slideInFromBottom;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.btnScroll {
    background-color: #1652F0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    padding: 12px 16px;
    animation: 1.5s ease-in-out slideInFromBottom;
}

.btnScroll:disabled {
    opacity: .5;
}

.btnScroll:hover {
    background-color: #1222cae0;
}

.btnScroll:active {
    background-color: #1222cae0;
    border-color: #1222cae0;
}

#hero {
    width: 100%;
    height: 100vh;
    display: flex;
}

#heroLeft {
    width: 50%;
    height: 100vh;
}

#heroRight {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heroTopLeft {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heroRight img {
    height: 80vh;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .75s;
}

#heroRight img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrap {
    overflow: hidden;
    position: relative;
}

#slideshow {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}

@media (min-width: 30em) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}

@media (min-width: 40em) {
    .carousel {
        left: -20%;
        transform: translateX(20%);
    }
}

.carousel.is-set {
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
    background: #ddd;
    flex: 1 0 100%;
    order: 2;
}

.carousel-seat:nth-child(even) {
    background: #d5d5d5;
}

@media (min-width: 30em) {
    .carousel-seat {
        flex-basis: 33.33333%;
    }
}

@media (min-width: 40em) {
    .carousel-seat {
        flex-basis: 20%;
    }
}

.carousel-seat.is-ref {
    order: 1;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel-nav button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.carousel-nav button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#thankYou {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
